<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewPort" content="width-device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="author" content="SeongCheol Jung">
    <title>KindLoan에 오신것을 환영합니다.</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/media.css" />
</head>
<body>
    <div class="wrap">
        <!-- header -->
        <header class="header"> <!-- 헤더 영역 -->
            <div class="header-box flex row bw">
                <div class="h-box h-top flex">
                    <div class="inner flex row"> <!-- 전체 콘텐츠 너비 영역을 잡아줌 -->
                        <div class="logo">
                            <a href=".">
                                <h1 class="blind">KindLoan</h1>
                                <img src="images/logo.png" alt="KindLoan 홈페이지" />
                            </a>
                        </div>
                        <div class="util-link mo-none">
                            <ul class="flex">
                                <li>
                                    <a href="javascript:void(0);" class="flex mypage">마이페이지</a>
                                </li>
                                <li class="sns-login">
                                    <a class="pop-btn btn_login" href="/security/login">로그인</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>